/***Index***/

.heart-icon-label {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 18px;
    & .fa-heart{
        transform: scale(1.6);
        
    }
}
#heartCheckbox-1:checked +.heart-icon-label i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-2:checked +.heart-icon-label i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-3:checked +.heart-icon-label i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-4:checked +.heart-icon-label i{
    font-weight: 900;
    color: #9356DC ;

}

/***Menus***/

/***Heart***/

.heart-icon-label-menu {
    cursor: pointer;
    & .fa-heart{
        transform: scale(1.6);       
    }
}


#heartCheckbox-1:checked +.heart-icon-label-menu i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-2:checked +.heart-icon-label-menu i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-3:checked +.heart-icon-label-menu i{
    font-weight: 900;
    color: #9356DC ;

}
#heartCheckbox-4:checked +.heart-icon-label-menu i{
    font-weight: 900;
    color: #9356DC ;

}



/***Valid-menu***/

$valid-square-dur:400ms;
$cd-valid-square:#99E2D0;
$valid-square-size:50px;


.validation{
    width: $valid-square-size;
    height: $valid-square-dur;
    scale: 0;
}

.article{
    &:active{
        &.validation{   
            animation-name: validation-menu;
            animation-delay: 0ms;
            animation-duration: $valid-square-dur;
            transform-origin: right;
            animation-fill-mode: both;          
        }
    }
}


@keyframes validation-menu {
    0%{
        transform: translateX() ;
    }

    100%{
        transform: translateX();
    }
}