h1{
    font-family: 'shrikhand', sans-serif;
}

h2{
    text-transform: uppercase;
}


/******Header******/

header figure{
    display: flex;
    justify-content: center;
}

header img{
    height: 35px;
    width: 50%;
}

/******Main******/

.img-background{  
    background-image: url(C:/VScode/Site_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);  
}

.img-menu{
    background-size: cover; 
    background-position: center; 

    height: 275px;
    margin: 0;
}
/***Menu***/
.bouton{
   
}
.bouton-paramettre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0;
}

/******Footer******/