/***Heart***/

$cd-heart: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

.heart-icon-label-menu{
    position: relative;

    & .fa-regular.fa-heart, .fa-solid.fa-heart {      
        top: 2px;
        left: 0;       
    }
}

.heart-icon-label{
    position: absolute;
    right: 20px;
    top: 20px;
 }


.heart-icon-label-menu,
.heart-icon-label {
    cursor: pointer;   
    width: 24px;
    height: 24px;

    & .fa-regular.fa-heart, .fa-solid.fa-heart{
        position: absolute;
        font-size: 24px; 
    }

    & .fa-regular.fa-heart {
        z-index: 1;         // Cœur vide reste au-dessus initialement
        opacity: 1;
    }

    & .fa-solid.fa-heart {
        z-index: 0;         // Cœur plein est initialement en dessous
        opacity: 0;         // Le cœur plein est initialement invisible
        background: $cd-heart;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



/***Boucle Pour les pages menus***/
@for $i from 1 through 8 {
    #heartCheckbox-#{$i}:checked ~ .heart-icon-label-menu .fa-solid.fa-heart {
        opacity: 1;         // S'assurer que l'opacité devient 1 lorsque coché
        animation: fadeInHeart  900ms forwards ease-in;         // Appliquer l'animation
        z-index: 2;         // Assurez-vous que le cœur plein passe au-dessus
    }


    #heartCheckbox-#{$i}:checked ~ .heart-icon-label-menu .fa-regular.fa-heart {
        opacity: 0;         // Rendre le cœur vide invisible
        z-index: 0;         // Garde en dessous
    }
}

/***Boucle Pour la page principale***/
@for $i from 1 through 8 {
    #heartCheckbox-#{$i}:checked ~ .heart-icon-label .fa-solid.fa-heart {
        animation: fadeInHeart  900ms forwards ease-in;         // Appliquer l'animation
        z-index: 2;         // Assurez-vous que le cœur plein passe au-dessus
    }


    #heartCheckbox-#{$i}:checked ~ .heart-icon-label .fa-regular.fa-heart {
        opacity: 0;         // Rendre le cœur vide invisible
        z-index: 0;         // Garde en dessous
    }
}

/* Animation Keyframes */
@keyframes fadeInHeart {
    0% {
        opacity: (0.4);
        transform: scale(0.2)
    }

    50%{
        opacity: (0.6);
    }

    100% {
        opacity: (1);
        transform: scale(1);
    }
}


/***Valid-menu***/

$valid-square-dur:250ms;
$cd-valid-square:#99E2D0;
$valid-square-size:70px;

.validation{
    display: flex;
    width: $valid-square-size;
    height: 100%;
    position: absolute;
    right: -80px;
    top: 0;
    background-color: $cd-valid-square;

    & i{
        position: absolute;
        transform: scale(1.3);
        right: 45%;
        top: 37%;
        color: white;
    }
}

.menu article{  
    overflow: hidden;
    position: relative;


    &:hover{
        & .validation {   
            animation: validation $valid-square-dur ease-in forwards;
        }
        & .prix { 
            animation: prix $valid-square-dur ease-in forwards;
        }
        & .accompagnement, .plat {
            transition: width $valid-square-dur ease-in ; 
            width: 60%;
        }
      
    }
    &:not(:hover){          // Animation inverse lorsque la souris quitte l'Article
        & .validation {   

            animation: validation-reverse $valid-square-dur 200ms ease-in backwards;     
        }
        & .prix {      
            animation: prix-reverse $valid-square-dur 200ms ease-in backwards;
        }
        & .accompagnement, .plat { 
            transition: width $valid-square-dur 200ms ease-in ;  
            width: 100%; 
        }
    }
}

/* Animation Keyframes */

@keyframes validation{
    from {
        transform: translateX(0);
        transform-origin: right;
    }

    to { 
        transform: translateX(-100%);
        transform-origin: right;
    }
}
@keyframes validation-reverse {
    from {
        transform: translateX(-100%);
        transform-origin: right;
    }
    to {
        transform: translateX(0);
        transform-origin: right;
    }
}



@keyframes prix{
    from {
        transform: translateX(0);
        transform-origin: right;
    }

    to { 
        transform: translateX(-210%);
        transform-origin: right;
    }
}
@keyframes prix-reverse{                            
    from {
        transform: translateX(-210%);
        transform-origin: right;
    }

    to { 
        transform: translateX(0);
        transform-origin: right;
    }
}


/***Apparition-plats***/

.entrees, .titre-icone {
    animation: apparition-plats 1s 300ms ease-out both;
}
.plats {
    animation: apparition-plats 1s 800ms ease-out both;
}
.desserts, .bouton-menu {
    animation: apparition-plats 1s 1000ms ease-out both;
}

/* Animation Keyframes */

@keyframes apparition-plats{
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/***loader***/

